body {
    background-image: url("kepek/hatter3.jpg");
    text-align: center;
    color: white;
}

table {
    width: 1550px;
}

.menu {
    color: #006600;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

#szoveg1 {
    font-size: larger;
}

#szoveg2 {
    font-size: larger;
}

html, body {
    overflow-x: hidden;
}