.menu {
    color: #006600;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
table {
    width: 1550px;
}
html, body {
    overflow: hidden
}

body {
    background-image: url(kepek/hatter3.jpg);
}
p {
    color: white;
    font-size: larger;
}
h1{
    color: white;
    font-weight: bold;
}
#kutya {
    transform: translateX(63%);
}