.menu {
    color: rgb(102, 0, 0);
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
table {
    width: 1550px;
}

body {
    background-color: #ffff66;
}
h1, h2 {
    text-align: center;
    text-decoration: underline;
}
h1{
    font-size: 45px;
}
img{
    width: 450px;
    height: 400px;
}
.kepek {
    transform: translateX(5%);
}
html, body {
    overflow-x: hidden;
}