h1 {
    font-weight: bold;
}

.szokasok {
    font-size: larger;
}

#fenyo {
    font-weight: bold;
    font-size: larger;
}

.tablazatcim {
    font-weight:bold;
    text-decoration: underline;
}

.one {
    font-weight: bold;
    text-decoration: underline;
}
.two {
    font-weight: bold;
    text-decoration: underline;
}
.three {
    font-weight: bold;
    text-decoration: underline;
}
.four {
    font-weight: bold;
    text-decoration: underline;
}
.five {
    font-weight: bold;
    text-decoration: underline;
}
.six {
    font-weight: bold;
    text-decoration: underline;
}
.seven {
    font-weight: bold;
    text-decoration: underline;
}
.eight {
    font-weight: bold;
    text-decoration: underline;
}
.nine {
    font-weight: bold;
    text-decoration: underline;
}
.ten {
    font-weight: bold;
    text-decoration: underline;
}
.eleven {
    font-weight: bold;
    text-decoration: underline;
}
.twelve{
    font-weight: bold;
    text-decoration: underline;
}