body {
 background-image:url("hatter3.jpg") ;
 text-align: center;
 color: black;
}

.tablazat {
    width:40%;
    border: 2px solid black;
    transform: translateX(74%);
}

table {
    width: 1550px;
}

.menu {
    color: #006600;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

.szokasok {
    font-size: larger;
}

#fenyo {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.tablazatcim {
    font-weight:bold;
    text-decoration: underline;
}

.one {
    font-weight: bold;
    text-decoration: underline;
}
.two {
    font-weight: bold;
    text-decoration: underline;
}
.three {
    font-weight: bold;
    text-decoration: underline;
}
.four {
    font-weight: bold;
    text-decoration: underline;
}
.five {
    font-weight: bold;
    text-decoration: underline;
}
.six {
    font-weight: bold;
    text-decoration: underline;
}
.seven {
    font-weight: bold;
    text-decoration: underline;
}
.eight {
    font-weight: bold;
    text-decoration: underline;
}
.nine {
    font-weight: bold;
    text-decoration: underline;
}
.ten {
    font-weight: bold;
    text-decoration: underline;
}
.eleven {
    font-weight: bold;
    text-decoration: underline;
}
.twelve{
    font-weight: bold;
    text-decoration: underline;
}