body{
    background-color: chocolate;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    font-size: 18px;
}

input[type="text"], input[type="email"], select {
    border: 5px solid green;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    color: black;
    font-size: 18px;
    background-color:chartreuse;
}

::placeholder {
    color: black;
}