html, body {
    overflow: hidden
}

body {
    background-color: #ffff66;
}

.Content {
    position: static;
    text-align: left;
    background-color:beige;
    padding: 30px;
    visibility: hidden;
    position: absolute;
    transform: translateX(63%);
    top: 0;
    overflow: auto;
    text-align: right;
    border: solid 5px black;
    border-radius: 20px;
}

.Indexes {
    transform: translateX(2%);
}

.Content:target {
    visibility: visible;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

img {
    width: 350px;
    height: 300px;
    border: solid 5px black;
    border-radius: 20px;
}

iframe {
    border: solid 5px gold;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color:black;
    font-size: 45px;
}

table {
    width: 1550px;
}

.menu {
    color: rgb(102, 0, 0);
    font-weight: bold;
}